/**
* Template Name: Restaurantly - v1.2.1
* Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# Added by us
-------------------------------------------------------------*/
.padded-30px{
    min-height: 30px;
}

.review-comment {
    color: #cda45e;
}

.min-height-800 {
    min-height: 800px;
}

.eval-form-button {
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

.align-text-center {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.background-black-half {
    background-color: rgba(0,0,0,0.5);
    padding: 25px;
    border-radius: 25px;
}

.background-white-half {
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 25px;
}

.checkbox-large {
    font-size: 25px;
}

.form-textbox {
    min-height: 150px;
    width: 822px;
    border-radius: 10px; !important;
    background-color: rgba(0, 0, 0, 0.65); !important;
    box-shadow: none;
    font-size: 15px;
    color: #cda45e;
    overflow: visible;
    margin: 0;
    font-family: "MV Boli", serif;
}

.form-textbox-review {
    min-height: 140px;
    width: 450px;
    border-radius: 10px; !important;
    background-color: rgba(0, 0, 0, 0.65); !important;
    box-shadow: none;
    font-size: 15px;
    color: #cda45e;
    overflow: visible;
    margin: 0;
    font-family: "MV Boli", serif;
}

#score {
    background: rgba(56, 56, 56, 0.5);
    font-size: 0.9rem;
    padding-left: 10px;
    font-family: "MV Boli", serif;
    font-weight: lighter;
    color: whitesmoke;
}

#score:focus {
    background: rgba(56, 56, 56, 0.4);
    color: #cda45e;
    border-color: #cda45e;
}

#comment {
    background: rgba(56, 56, 56, 0.5);
    font-size: 0.9rem;
    padding-left: 10px;
    font-family: "MV Boli", serif;
    font-weight: lighter;
    color: whitesmoke;
}

#comment:focus {
    background: rgba(56, 56, 56, 0.4);
    color: #cda45e;
    border-color: #cda45e;
}

.form-textbox:focus {
    background-color: rgba(0, 0, 0, 0.5); !important;
}

.form-textbox-review:focus {
    background-color: rgba(0, 0, 0, 0.5); !important;
}


.score-label {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 25px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.contest-head {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px;
    /*border: #cda45e solid 2px;*/
    box-shadow: #cda45e 0 0 2px 2px;
    border-radius: 25px;
}

.contest-title {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    font-family: 'MV Boli', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #cda45e;
    height: 50px;
}

.contest-category {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    font-family: 'MV Boli', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: darkgrey;
    height: 50px;
}

.contest-data {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-family: 'MV Boli', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    height: 50px;
}

.contest-button-container {
    margin-top: 25%;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-40 {
    margin-top: 40px;
}


.create-contest-input {
    width: 98%;
}

.create-contest-form {
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    position: relative;
    border-radius: 25px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px 10px;
}

.create-contest {
    background: url(../img/gallery-background.jpg) top center;
}

.create-contest-dropdown {
    width: 85%;
    height: 40px;
    box-shadow: #a7a5a6 0 0 1px 1px;
    background-color: rgba(212, 212, 212, 0.9);
    margin-left: 15px;
    text-align: center;
    border: #7c7a7a;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-family: "MV Boli", sans-serif;
}

.create-contest-dropdown:hover {
    background-color: #cda45e;
}

.jurors-dropdown {
    width: 90%;
    height: max-content;
    box-shadow: #a7a5a6 0 0 1px 1px;
    background-color: rgba(212, 212, 212, 0.9);
    /*margin-right: 15px;*/
    border: #7c7a7a;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-family: "MV Boli", sans-serif;
}

.jurors-dropdown:hover {
    background-color: #cda45e;
}


.finished-contest {
    opacity: 0.5;
}

#highlight-menu {
    padding: 5px 10px;
!important;
    background-color: #cda45e;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    min-width: 125px;
    text-align: center;
}

#highlight-menu:hover {
    background-color: #a07037;
}

#highlight-menu-1 {
    padding: 5px 10px;
!important;
    background-color: rgba(236, 238, 234, 0.9);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    min-width: 125px;
    text-align: center;
}


#highlight-menu-1:hover {
    background-color: rgba(140, 142, 138, 0.9);
}

.button-ws {
    margin-top: 40px;
}

.container-navbar {
    padding: 0 250px;
}

.avatar {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 12px;
    opacity: 0.75;
}

.photo-thumb {
    padding: 0;
    margin-bottom: 50px;
}

.table-ws {
    padding-top: 50px;
}

.contest-thumb {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.contest-thumb-list {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.contest-thumb-main {
    height: 100px;
    width: 100px;
    box-shadow: whitesmoke 0 0 2px 2px;
    border-radius: 10px;
}


.user-thumb-list {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
}


.header-row {
    background-color: rgba(203, 203, 203, 0.51);
    text-align: left;
    text-justify: distribute;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.contest-row {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    text-align: left;
    text-justify: distribute;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
}

.filter-dropdown {
    min-height: 36px;
    box-shadow: #a7a5a6 0 0 1px 1px;
    background-color: rgba(212, 212, 212, 0.9);
    margin-right: 15px;
    width: 15%;
    text-align: center;
    border: #7c7a7a;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.filter-dropdown:hover {

    background-color: rgba(212, 212, 212, 0.99);

}

.filter-field {
    box-shadow: #a7a5a6 0 0 1px 1px;
    min-height: 36px;
    margin-right: 15px;
    width: 70%;
    padding-left: 15px;
    background-color: rgba(231, 231, 231, 0.33);
    border-radius: 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: black;
}

/*action buttons*/

.enroll-button {

    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 50px;
    margin-top: 22px;
    border-radius: 15px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 1px solid #cda45e;
    background-color: rgba(0, 0, 0, 0.51);
}

.enroll-button:hover {
    background: #cda45e;
    color: black;
}

.invite-button {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(246, 237, 236, 0.85);
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: bold;
}

.invite-button-disabled {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(215, 209, 178, 0.5);
    opacity: 0.2;
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: darkgrey;
    font-weight: bold;
}

.invite-button-disabled:hover {
    color: darkgrey;
}

.invite-button:hover {
    background-color: rgba(219, 210, 209, 0.8);
    color: black;
}

.evaluate-button {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(184, 134, 205, 0.76);
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    font-weight: bold;
}

.evaluate-button-disabled {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(184, 134, 205, 0.26);
    opacity: 0.2;
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: darkgrey;
    font-weight: bold;
}

.evaluate-button-disabled:hover {
    color: darkgrey;
}

.evaluate-button:hover {
    background-color: rgba(142, 86, 171, 0.76);
    color: whitesmoke;
}

.delete-button {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(207, 60, 57, 0.85);
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    font-weight: bold;
}

.delete-button-disabled {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(207, 105, 97, 0.7);
    opacity: 0.2;
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: darkgrey;
    font-weight: bold;
}

.delete-button-disabled:hover {
    color: darkgrey;
}

.delete-button:hover {
    background-color: rgba(207, 15, 10, 0.85);
    color: whitesmoke;
}

.filter-button {
    box-shadow: #cda45e 0 0 1px 1px;
    background-color: #cda45e;
    min-height: 36px;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: bold;
}

.filter-button:hover {

    background-color: #a07037;

}

.view-button {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: #cda45e;
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: bold;
}

.view-button:hover {
    background-color: #a07037;
    color: black;
}

.view-button-disabled {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: rgba(178, 127, 44, 0.4);
    opacity: 0.2;
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: darkgrey;
    font-weight: bold;
}

.view-button-disabled:hover {
    color: darkgrey;
}

.restore-button {
    padding: 0.15rem;
    box-shadow: rgba(205, 205, 205, 0.85) 0 0 2px 2px;
    background-color: #3bbe39;
    height: 28px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    font-weight: bold;
}

.restore-button:hover {
    background-color: #1ba71b;
    color: whitesmoke;
}

.cover {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px #cda45e;
    border: #cda45e solid 1px;
}

.cover-container {
    margin: auto;
    text-align: center;
}

.contest {
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.76);
}

.container-ws {
    padding: 100px 250px;
}

.container-view-contest{
    padding: 40px 250px 0 250px;
}

.container-create-contest {
    padding: 100px 500px;
}

.container-gallery {
    padding: 0px 250px 40px;
}

.container-gallery-search {
    padding: 0px 285px 50px 230px;
}

.container-gallery-main {
    padding: 75px 250px 0 230px;
}

.nav-side {
    background-color: black;
    padding-top: 250px;
    padding-right: 0;
    border: 0;
    min-height: 835px;
    text-align: right;
}

.main-container {
    padding: 0;
}

.form-label {
    font-size: 0.9rem;
    padding-left: 5px;
    font-family: "MV Boli", serif;
    font-weight: bold;
}

.dropdown-label {
    font-size: 0.9rem;
    padding-left: 20px;
    font-family: "MV Boli", serif;
    font-weight: bold;
}

.form-placeholder {
    background: rgba(56, 56, 56, 0.5);
    font-size: 0.9rem;
    padding-left: 10px;
    font-family: "MV Boli", serif;
    font-weight: lighter;
    color: #cda45e;

}

.photo-summary {
    padding: 60px 15px;
}

.separator {
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

#winner-thumbnail {
    margin: 20px;
    padding: 0.05rem;
    background-color: #cda45e;
    height: 387px;
    width: 290px;
    border-radius: 25px;
    box-shadow: 0 0 10px 10px #cda45e;
}

.average-points {
    align-content: center;
    font-size: 80px;
}

.profile-dropdown {
    min-height: 28px;
    font-size: 15px;
    background-color: #f4f1e8;
    border-radius: 10px;
    margin-top: 10px;
    width: 50%;
}

.profile-form-field {
    min-height: 28px;
    font-size: 15px;
    background-color: #f4f1e8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-highlight {
    color: #ffffff;
    background-color: #cda45e;
    border-radius: 15px;
    font-weight: bolder;
    text-align: center;
}

.margin-none {
    margin: 0;
}

.margin-b-8 {
    margin: 10px;
}

.profile-row {
    padding-top: 25px;
}

.separator-personal-80 {
    width: 75%;
    margin: 0 0 8px;
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

.separator-personal-60 {
    width: 50%;
    margin: 0 0 8px;
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

.separator-personal-40 {
    width: 25%;
    margin: 0 0 8px;
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

.separator-personal-20 {
    width: 10%;
    margin: 0 0 8px;
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

.separator-contact-75 {
    width: 75%;
    margin: 0 0 8px;
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

.separator-contact-50 {
    width: 50%;
    margin: 0 0 8px;
    border: rgba(186, 186, 186, 0.33) 1px solid;
}

.profile-title {
    font-weight: bold;
    color: #cda45e;
}

.profile {
    padding: 50px 100px;

}

#profile-cover {
    width: 100%;
    height: 100vh;
    background: url(../img/winners-background1.jpg) top center;
    background-size: cover;
    position: relative;
}

.avatar-big {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    align-content: center;
    text-align: center;
}

.status {
    width: 60%;
    border: #ffffff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 4px 15px 0;
    min-height: 30px;
}

#back-button {
    font-size: 50px;
}

.register-btn {
    width: 33%;
    border-radius: 10px;
}

.edit-profile-btn {
    background: #cda45e;
    border-color: #cda45e;
}

.edit-profile-btn:hover {
    color: #fff;
    background-color: #a07e2d;
    border-color: #a07e2d;
}

.error {
    color: #f33726;
    margin-left: auto;
    margin-right: auto;
}

.small-font {

    font-size: 10px;
}

#gold {
    color: #e1b705;
}

#silver {
    color: #c3c2ca;
}

#bronze {
    color: #ac4e19;
}

.place {
    font-family: "MV Boli", serif;
    color: #ffffff;
    font-size: 25px;
}

.points {
    font-family: "MV Boli", serif;
    color: #ffffff;
    font-size: 22px;
}

.gold {
    font-family: "MV Boli", serif;
    color: #e1b705;
}

.silver {
    font-family: "MV Boli", serif;
    color: #c3c2ca;
}

.bronze {
    font-family: "MV Boli", serif;
    color: #ac4e19;
}

/*--------------------------------------------------------------
# Taken from the old template
-------------------------------------------------------------*/
#login-title {
    text-align: center;
    font-weight: bold;
}

#login-image {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: #cda45e;
}

#container {
    display: flex;
}

.login-form {
    padding: 0 0 20px;
}

#login-container {
    margin: 40px 0 0;
    width: 40%;
    padding: 50px 100px 40px;
    box-shadow: #f7f7f7 0 0 25px 5px;
    background-image: url("https://imgur.com/uaCYFeV.png");
    border-radius: 75px;
}

/*--------------------------------------------------------------
# Taken from the old template
-------------------------------------------------------------*/

/*--------------------------------------------------------------
# Downloaded from another resources
-------------------------------------------------------------*/


/*--------------------------------------------------------------
# Downloaded from another resources
-------------------------------------------------------------*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    background: #000000;
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #d9ba85;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MV Boli", serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #cda45e;
    border-bottom-color: #cda45e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 995;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #cda45e;
    transition: all 0.4s;
    border: 2px solid #cda45e;
}

.back-to-top i:hover {
    background: #cda45e;
    color: #1a1814;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info {
    color: white;
}

#topbar .contact-info i {
    color: #d9ba85;
    padding-right: 4px;
}

#topbar .contact-info i + i {
    margin-left: 15px;
}

#topbar .languages ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #cda45e;
}

#topbar .languages ul a {
    color: white;
}

#topbar .languages ul li + li {
    padding-left: 10px;
}

#topbar .languages ul li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.5);
    content: "/";
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: rgba(12, 11, 9, 0.9);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
}


.header-top {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header-bottom {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 810px;
}

#header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
}

#header .logo {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
}

#header .logo a {
    color: #fff;
    font-family: Mistral, serif;
}

#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul {
    display: flex;
    align-items: center;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding-left: 28px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: white;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #d9ba85;
}

.nav-menu .book-a-table a {
    border: 2px solid #cda45e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
    background: #cda45e;
    color: #fff;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #1a1814;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #cda45e;
}

.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}

/* Mobile Navigation */
.mobile-nav-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #1a1814;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav .mobile-nav-close {
    margin: 0 15px 0 auto;
    display: block;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
}

.mobile-nav .mobile-nav-close:hover {
    color: #fff;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
    transition: 0.3s;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #cda45e;
    text-decoration: none;
}

.mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
}

.mobile-nav .book-a-table a {
    color: #fff;
    border: 2px solid #cda45e;
    border-radius: 50px;
    margin: 20px 0 0 0;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
}

.mobile-nav .book-a-table a:hover {
    background: #cda45e;
    color: #fff;
}

.mobile-nav .drop-down > a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/gallery-background.jpg) top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    /*padding-top: 250px;*/
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 98px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 54px;
    font-weight: 400;
    line-height: 80px;
    color: #fff;
    font-family: Mistral, serif;
}

#hero h1 span {
    color: #cda45e;
}

#hero h2 {
    color: #eee;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: "MV Boli", serif;
    font-weight: bolder;
}

#hero .btns {
    margin-top: 30px;
}

#hero .btn-menu, #hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 15px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 1px solid #cda45e;
    background-color: rgba(0, 0, 0, 0.51);
}

#hero .btn-menu:hover, #hero .btn-book:hover {
    background: #cda45e;
    color: black;
}

#hero .btn-book {
    margin-left: 15px;
}

#hero .btn-others {
    margin-left: 15px;
}

#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

#hero .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
    border-left: 15px solid #cda45e;
    transform: scale(20);
}

#hero .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero .play-btn {
        margin-top: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: auto;
    }

    #hero .container {
        padding-top: 130px;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 100px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #1a1814;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 28px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #1d1b16;
    margin-top: 110px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 98px;
    }
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #37332a;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    background: url("../img/about-bg.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 80px 0;
}

.about:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .about-img {
    position: relative;
    transition: .5s;
}

.about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: .5s;
}

.about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition: .5s;
}

.about .about-img:hover {
    transform: scale(1.03);
}

.about .about-img:hover::before {
    left: 10px;
    top: 10px;
}

.about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
}

.about .content p:last-child {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
    .about {
        background-attachment: fixed;
    }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;

    background: transparent;
}

.why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #cda45e;
}

.why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
}

.why-us .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.why-us .box:hover {
    background: #cda45e;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    border-radius: 25px;
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
    color: #fff;
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu {
    background: url(../img/gallery-background.jpg) top center;
}

.menu #menu-flters {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.menu #menu-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px 10px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}

.menu #menu-flters li:hover, .menu #menu-flters li.filter-active {
    color: #cda45e;
}

.menu #menu-flters li:last-child {
    margin-right: 0;
}

.menu .menu-item {
    margin-top: 50px;
}

.menu .menu-img {
    width: 120px;
    height: 120px;
    border-radius: 15px;

    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.menu .menu-content {
    margin-left: 140px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: "MV Boli", sans-serif;
}

.menu .menu-content::after {
    content: "......................................................................" "...................................................................." "....................................................................";
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    color: #bab3a6;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
    padding-right: 10px;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: white;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu .menu-content a:hover {
    color: #cda45e;
}

.menu .menu-content span {
    background: #1a1814;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    color: #cda45e;
}

.menu .menu-ingredients {
    margin-left: 140px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.menu .menu-time {
    margin-left: 140px;
    font-size: 16px;
    font-family: "MV Boli", sans-serif;
    color: #cda45e;
}

/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
.specials {
    overflow: hidden;
    background: url(../img/dashboard-main.jpg) top center;
    padding-bottom: 0;
    padding-top: 0;
}

.specials .nav-tabs {
    border: 0;
}

.specials .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: #fff;
    border-radius: 0;
    font-weight: 600;
    font-size: 15px;
}

.specials .nav-link:hover {
    color: #cda45e;
}

.specials .nav-link.active {
    color: #1a1814;
    background: whitesmoke;
}

.specials .nav-link:hover {
}

.specials .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

.specials .details p {
    color: #aaaaaa;
}

.specials .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .specials .nav-link {
        border: 0;
        padding: 15px;
    }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events {
    background: url(../img/gallery-background.jpg) top center;
    background-size: cover;
    position: relative;
}

.events::before {
    content: '';
    /*background-color: rgba(0, 0, 0, 0.6);*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.events .section-title h2 {
    color: #fff;
}

.events .container {
    /*padding: 133px 0;*/
    position: relative;
}

@media (min-width: 1024px) {
    .events {
        background-attachment: fixed;
    }
}

.events .events-carousel {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px 10px;
}

.events .event-item {
    color: #fff;
}

.events .event-item h3 {
    font-weight: 600;
    font-size: 26px;
    color: #cda45e;
}

.negative {
    padding: 10px;
}

.title {
    font-weight: bolder;
    color: #cda45e;
}

.data {
    font-weight: normal;
    color: #FFFFFF;
}

.hole {
    background-color: #e3e3e3;
    border-radius: 10px;
    height: 100px;
    width: 60px;
    margin: 0 33px;
}

.events .event-item .price {
    font-size: 65px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 33px;
}

.events .event-item .price-na {
    font-size: 80px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 33px;
}


.events .event-item .price-na span {
    border: 1px solid #cda45e;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 25px;
    box-shadow: 0 0 3px 3px #cda45e;
    padding: 15px 40px;
    color: whitesmoke;
    opacity: 0.2;
}

.events .event-item .price span {
    border: 1px solid #cda45e;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 25px;
    box-shadow: 0 0 3px 3px #cda45e;
    padding: 15px 40px;
    color: whitesmoke;
}

.events .event-item ul {
    list-style: none;
    padding: 0;
}

.events .event-item ul li {
    padding-bottom: 10px;
}

.events .event-item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #cda45e;
}

.events .event-item p:last-child {
    margin-bottom: 0;
}

.events .owl-nav, .events .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.events .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.events .owl-dot.active {
    background-color: #cda45e !important;
}

@media (min-width: 992px) {
    .events .testimonial-item p {
        width: 80%;
    }
}

/*--------------------------------------------------------------
# Book A Table
--------------------------------------------------------------*/
.book-a-table {
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    position: relative;
    border-radius: 25px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px 10px;
}

.book-a-table .ws-form {
    width: 100%;
}

.book-a-table .ws-form.form-group {
    padding-bottom: 8px;
}

.book-a-table .ws-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.book-a-table .ws-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.book-a-table .ws-form .error-message br + br {
    margin-top: 25px;
}

.book-a-table .ws-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.book-a-table .ws-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
}

.book-a-table .ws-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #cda45e;
    border-top-color: #1a1814;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.book-a-table .ws-form input, .book-a-table .ws-form textarea {
    /*border-radius: 0;*/
    box-shadow: none;
    font-size: 15px;
    /*background: #0c0b09;*/
    color: #cda45e;
}

.book-a-table .ws-form input::-webkit-input-placeholder, .book-a-table .ws-form textarea::-webkit-input-placeholder {
    color: #a49b89;
}

.book-a-table .ws-form input::-moz-placeholder, .book-a-table .ws-form textarea::-moz-placeholder {
    color: #a49b89;
}

.book-a-table .ws-form input:-ms-input-placeholder, .book-a-table .ws-form textarea:-ms-input-placeholder {
    color: #a49b89;
}

.book-a-table .ws-form input::-ms-input-placeholder, .book-a-table .ws-form textarea::-ms-input-placeholder {
    color: #a49b89;
}

.book-a-table .ws-form input::placeholder, .book-a-table .ws-form textarea::placeholder {
    color: #a49b89;
}

.book-a-table .ws-form input:focus, .book-a-table .ws-form textarea:focus {
    border-color: #cda45e;
}

.book-a-table .ws-form input {
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-a-table .ws-form textarea {
    /*padding: 10px 12px;*/
}

.button-ws {

}

#button-create {
    margin-top: 25px;
    height: 60px;
    width: 240px;
    text-align: center;
    font-size: 25px; !important;
    font-family: "MV Boli", sans-serif;
}

.book-a-table .ws-form button[type="submit"] {
    border: 1px solid black;
    padding: 5px 50px;
    color: black;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.book-a-table .ws-form button[type="submit"]:hover {
    background-color: #cda45e;
    border: 1px solid black;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
    background: url(../img/winners-background11.jpg) center no-repeat;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid rgba(255, 255, 255, 0.2);
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: white;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #d3af71;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: rgba(151, 151, 151, 0.15);
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.testimonials .owl-nav, .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #cda45e !important;
}

@media (max-width: 767px) {
    .testimonials {
        margin: 30px 10px;
    }
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
    background: url(../img/gallery-background.jpg) top center;
}

.gallery .gallery-item {
    overflow: hidden;
    border: rgba(205, 205, 205, 0.51) 2px solid;
    box-shadow: rgba(205, 205, 205, 0.51) 0 0 5px 5px;
    border-radius: 15px;
    height: 400px;
    width: 300px;
}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Chefs
--------------------------------------------------------------*/
.chefs .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
}

.chefs .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.chefs .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
}

.chefs .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.chefs .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.chefs .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}

.chefs .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
}

.chefs .member .social a:hover {
    color: #cda45e;
}

.chefs .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.chefs .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.chefs .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
}

.chefs .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #cda45e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #bab3a6;
}

.contact .info .open-hours, .contact .info .email, .contact .info .phone {
    margin-top: 40px;
}

.contact .ws-form {
    width: 100%;
}

.contact .ws-form .form-group {
    padding-bottom: 8px;
}

.contact .ws-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .ws-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .ws-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .ws-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
}

.contact .ws-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #cda45e;
    border-top-color: #1a1814;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .ws-form input, .contact .ws-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
}

.contact .ws-form input::-webkit-input-placeholder, .contact .ws-form textarea::-webkit-input-placeholder {
    color: #a49b89;
}

.contact .ws-form input::-moz-placeholder, .contact .ws-form textarea::-moz-placeholder {
    color: #a49b89;
}

.contact .ws-form input:-ms-input-placeholder, .contact .ws-form textarea:-ms-input-placeholder {
    color: #a49b89;
}

.contact .ws-form input::-ms-input-placeholder, .contact .ws-form textarea::-ms-input-placeholder {
    color: #a49b89;
}

.contact .ws-form input::placeholder, .contact .ws-form textarea::placeholder {
    color: #a49b89;
}

.contact .ws-form input:focus, .contact .ws-form textarea:focus {
    border-color: #cda45e;
}

.contact .ws-form input {
    height: 44px;
}

.contact .ws-form textarea {
    padding: 10px 12px;
}

.contact .ws-form button[type="submit"] {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .ws-form button[type="submit"]:hover {
    background: #d3af71;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    background: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Playfair Display", serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28251f;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #cda45e;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #cda45e;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #cda45e;
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #28251f;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
    background: #28251f;
    color: white;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #cda45e;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #d3af71;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
