<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">
        <h3 class="logo mr-auto"
            th:text="${user.isJunkie()
            ? user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'
            : user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}">
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}">
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li><a>Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/users}">Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-contests}">My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li><a href="#" th:href="@{/users/profile}">Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg  min-height-800">
    <div class="container-ws" data-aos="fade-up">

        <div class="section-title">
            <h2>Contests</h2>
        </div>

        <div class="row" data-aos="fade-left" data-aos-delay="100">

            <form th:fragment="filter-form" class="col-lg-12 d-flex justify-content-center"
                  action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${form}" method="post">

                <select class="filter-dropdown" th:field="*{categoryId}">
                    <option th:value="${null}"
                            th:text="'All categories'" selected>
                    </option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.categoryId}"
                            th:text="${cat.name.toUpperCase()}">
                        Categories
                    </option>
                </select>

                <select class="filter-dropdown" th:field="*{phase}">
                    <option th:value="${null}"
                            th:text="'All phases'" selected>
                    </option>
                    <option th:each="phase : ${phases}"
                            th:value="${phase}"
                            th:text="${phase}">
                        Phases
                    </option>
                </select>

                <select class="filter-dropdown" th:field="*{open}">
                    <option th:value="${null}"
                            th:text="'All statuses'" selected>
                    </option>
                    <option th:value="${true}"
                            th:text="${'Open'}">
                    </option>

                    <option th:value="${false}"
                            th:text="${'Invitational'}">
                    </option>
                </select>

                <input type="text" class="filter-field" th:field="*{search}"
                       placeholder="Search in contest titles and stories...">

                <button type="submit" class="btn btn-menu filter-button">Filter</button>
                <label class="error-light small-font" th:errors="*{search}">Search error placeholder</label>
            </form>
        </div>
        <div class="table-ws">
            <table class="table animate__animated animate__fadeInRight">
                <thead>
                <tr class="header-row">
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'COVER'}"></th>
                    <th scope="col" th:text="${allContests.isEmpty() ? 'NO CONTESTS TO SHOW' : 'TITLE'}">CONTEST</th>
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'CATEGORY'}">CATEGORY</th>
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'PHASE'}">WEIGHT</th>
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'TIME REMAINING'}">LOCATION</th>
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'PARTICIPANTS'}">STATUS</th>
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'PHOTOS'}">STATUS</th>
                    <th scope="col" th:text="${allContests.isEmpty() ? '' : 'ACTIONS'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="contest-row" th:each="contest : ${allContests}">

                    <th style="text-align: center; vertical-align: middle;">
                        <a> <img class="contest-thumb-list" src="#" th:src="${contest.cover}" alt=""></a>
                    </th>

                    <td style="vertical-align: middle;" th:text="${contest.title}"></td>
                    <td style="vertical-align: middle;" th:text="${contest.category.name}">1</td>
                    <td style="vertical-align: middle;" th:text="${contest.phase}">1</td>
                    <td style="vertical-align: middle;" th:id="${contest.contestId}"></td>
                    <td style="vertical-align: middle;" th:text="${contest.participants.size()}">1</td>
                    <td style="vertical-align: middle;" th:text="${contest.photos.size}">1</td>

                    <td style="vertical-align: middle;">
                        <div class="row">

                            <form class="col-lg-4 d-flex justify-content-center"
                                  action="#" th:action="@{/contests/{id}(id=${contest.contestId})}"
                                  th:object="${form}" method="get">
                                <button type="submit" class="btn btn-menu view-button">View</button>
                            </form>

                            <form class="col-lg-4 d-flex justify-content-center"
                                  th:if="${contest.phase.ordinal() == 0}"
                                  action="#" th:action="@{/dashboard/contests/{id}/delete(id=${contest.contestId})}"
                                  th:object="${form}" method="post">
                                <button type="submit" class="btn btn-menu delete-button">Delete</button>
                            </form>

                            <form class="col-lg-4 d-flex justify-content-center"
                                  th:unless="${contest.phase.ordinal() == 0}"
                                  action="#" th:action="@{/dashboard/contests/{id}/delete(id=${contest.contestId})}"
                                  th:object="${form}" method="post">
                                <button type="submit" disabled class="btn btn-menu delete-button-disabled">Delete
                                </button>
                            </form>

                            <form class="col-lg-4 d-flex justify-content-center"
                                  th:if="${contest.phase.ordinal() == 1 && !contest.isOpen()}"
                                  action="#" th:action="@{/dashboard/contests/{id}/invite(id=${contest.contestId})}"
                                  th:object="${form}" method="get">
                                <button type="submit" class="btn btn-menu invite-button">Invite</button>
                            </form>

                            <form class="col-lg-4 d-flex justify-content-center"
                                  th:unless="${contest.phase.ordinal() == 1 && !contest.isOpen()}"
                                  action="#" th:action="@{/dashboard/contests/{id}/invite(id=${contest.contestId})}"
                                  th:object="${form}" method="get">
                                <button type="submit" disabled class="btn btn-menu invite-button-disabled">Invite
                                </button>
                            </form>

                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section><!-- End Menu Section -->
<!-- Timer javascirpt -->
<script th:inline="javascript">
    var listOfContests = [[${allContests}]];

    window.onload = function getEndDate() {

        listOfContests.forEach(contest => {
            var countDownDate = new Date(`${contest.endPhase2}`).getTime();

            setInterval(function () {

                var now = new Date().getTime();

                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById(`${contest.contestId}`).innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                if (distance <= 0) {
                    document.getElementById(`${contest.contestId}`).innerHTML = "EXPIRED";

                }
            }, 1000);
        })
    }
</script>

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>