<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">
        <h3 class="logo mr-auto"
            th:text="${user.isJunkie()
            ? user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'
            : user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}">
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}">
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/contests}">Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a>Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">

                    <a href="#" th:href="@{/dashboard/my-contests}">My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li><a href="#" th:href="@{/users/profile}">Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg  min-height-800">
    <div class="container-ws" data-aos="fade-up">

        <div class="section-title">
            <h2>Users</h2>
        </div>

        <div class="row" data-aos="fade-left" data-aos-delay="100">

            <form class="col-lg-12 d-flex justify-content-center"
                  action="#" th:action="@{/dashboard/contests/{contestId}/invite (contestId=${contest.contestId})}"
                  th:object="${form}" method="post">

                <select class="filter-dropdown" th:field="*{minPoints}">
                    <option th:value="${null}"
                            th:text="'All ranks'" selected>
                    </option>
                    <option th:each="rank : ${userRanks}"
                            th:value="${rank.getRankMinPoints()}"
                            th:text="${'At least ' + rank}">
                        Categories
                    </option>
                </select>

                <select class="filter-dropdown" th:field="*{role}">
                    <option th:value="${null}"
                            th:text="'All roles'" selected>
                    </option>

                    <option th:value="'Organizer'"
                            th:text="'Organizer'">
                    </option>

                    <option th:value="'Junkie'"
                            th:text="'Junkie'">
                    </option>

                </select>

                <input type="text" class="filter-field" th:field="*{search}"
                       placeholder="Search in users...">

                <button type="submit" class="btn btn-menu filter-button">Filter</button>
                <label class="error-light small-font" th:errors="*{search}">Search error placeholder</label>
            </form>
        </div>
        <div class="table-ws">
            <table class="table animate__animated animate__fadeInRight">
                <thead>
                <tr class="header-row">
                    <th scope="col" th:text="${allUsers.isEmpty() ? '' : 'AVATAR'}"></th>
                    <th scope="col" th:text="${allUsers.isEmpty() ? 'NO CONTESTS TO SHOW' : 'USERNAME'}">CONTEST</th>
                    <th scope="col" th:text="${allUsers.isEmpty() ? '' : 'FIRST NAME'}">CATEGORY</th>
                    <th scope="col" th:text="${allUsers.isEmpty() ? '' : 'LAST NAME'}">WEIGHT</th>
                    <th scope="col" th:text="${allUsers.isEmpty() ? '' : 'RANK'}">LOCATION</th>
                    <th scope="col" th:text="${allUsers.isEmpty() ? '' : 'POINTS'}">STATUS</th>
                    <th scope="col" th:text="${allUsers.isEmpty() ? '' : 'ACTIONS'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="contest-row" th:each="user : ${allUsers}">

                    <th style="text-align: center; vertical-align: middle;">
                        <a> <img class="user-thumb-list" src="#" th:src="${user.avatar}" alt=""></a>
                    </th>

                    <td style="vertical-align: middle;" th:text="${user.credentials.username}"></td>
                    <td style="vertical-align: middle;" th:text="${user.firstName}">1</td>
                    <td style="vertical-align: middle;" th:text="${user.lastName}">1</td>
                    <td style="vertical-align: middle;" th:text="${user.getRank()}">05:43:12</td>
                    <td style="vertical-align: middle;"
                        th:text="${user.rankingPoints == -1 ? '-' : user.rankingPoints }">1
                    </td>

                    <td style="vertical-align: middle;">
                        <div class="row">

                            <form class="col-lg-10 d-flex justify-content-center"
                                  th:if="${contest.phase.ordinal() == 1 && !contest.isOpen()}"
                                  action="#" th:action="@{/dashboard/contests/{contestId}/invite/{userId}
                                  (contestId=${contest.contestId}, userId=${user.userId})}"
                                  th:object="${form}" method="post">
                                <button type="submit" class="btn btn-menu invite-button">Invite</button>
                            </form>

                            <form class="col-lg-10 d-flex justify-content-center"
                                  th:unless="${contest.phase.ordinal() == 1 && !contest.isOpen()}"
                                  action="#" th:action="@{/dashboard/contests/{contestId}/invite/{userId}
                                  (contestId=${contest.contestId}, userId=${user.userId})}"
                                  th:object="${form}" method="post">
                                <button type="submit" disabled class="btn btn-menu invite-button-disabled">Invite
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section><!-- End Menu Section -->

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>