<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">

        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">

            <div class="section-title">
                <h2><span>Edit Personal Info!</span></h2>
            </div>

            <div class="row profile">
                <div th:fragment="prifle-avatar" class="col-3">
                    <div class="container">
                        <h2 class="profile-highlight animate__animated animate__fadeInLeft">
                            <i th:text="${user.credentials.username}">[username]</i></h2>
                        <hr class="animate__animated animate__fadeInRight">
                    </div>
                    <div class="animate__animated animate__fadeInLeft">
                        <img class="avatar-big" src="#"
                             th:src="${user.avatar == null ? 'https://imgur.com/81VIUmh.png' : user.avatar + ' '}"
                             alt="Avatar big">
                    </div>
                    <div>
                        <p class="animate__animated animate__fadeInLeft align-content-center profile-change-avatar">
                            <i th:text="${user.userRole}">[role]</i></p>
                    </div>
                </div>
                <div class="col">
                    <form action="#" th:action="@{/users/{id}/edit (id=${editProfileDto.id})}"
                          th:object="${editProfileDto}"
                          method="post" role="form"
                          class="ws-form"
                          data-aos="fade-up" data-aos-delay="100">

                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label"><b>Firstname:</b></label>
                                <input type="text" th:field="*{firstName}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="Firstname">
                                <label class="error small-font" th:errors="*{firstName}">Firstname error
                                    placeholder</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label"><b>Lastname:</b></label>
                                <input type="password" th:field="*{lastName}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="Lastname">
                                <label class="error small-font" th:errors="*{lastName}">LastName error
                                    placeholder</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label"><b>Password:</b></label>
                                <input type="password" th:field="*{password}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="Password">
                                <label class="error small-font" th:errors="*{password}">Password error
                                    placeholder</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-6 form-group">
                                <label class="form-label"><b>Confirm password:</b></label>
                                <input type="password" th:field="*{confirmPassword}" name="name"
                                       class="form-control form-placeholder"
                                       placeholder="Password">
                                <label class="error small-font" th:errors="*{confirmPassword}">Password error
                                    placeholder</label>
                            </div>
                        </div>
                        <div class="text-left">
                            <button class="button-ws" type="submit">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section><!-- End Book A Table Section -->

    </div>
</section><!-- End Hero -->

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->


<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>
