<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>

<body>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
        <div id="highlight" class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <h1>Take your best shot! <span> See who wins.</span></h1>
                <h2>Thrilling contests, top-notch captures</h2>

                <div class="btns">
                    <a href="#" th:href="@{/login}" class="btn-book animated fadeInUp scrollto">LOG IN</a>
                    <a href="#" th:href="@{/register}" class="btn-book animated fadeInUp scrollto">SIGN UP</a>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center" data-aos="zoom-in"
                 data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=l5-tc_aUOSY" class="venobox play-btn" data-vbtype="video"
                   data-autoplay="true"></a>
            </div>

        </div>
    </div>
</section><!-- End Hero -->

<section class="negative">
    <header class="header-top">
        <div class="d-flex align-items-center">
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="hole" th:each="cnt: ${negative}"></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
</section>

<!-- ======= Leaders Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Check out our competition ladder!</h2>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="173">

            <div class="testimonial-item" th:each="leader: ${topRanked}">
                <p>
                    <i class="points" th:text="${' Ranking points: ' + leader.getCurrentPoints()}"></i>
                    <br>
                    <i id="gold" class="bx bxs-award"></i> <i class="gold"
                                                              th:text="${' Winner: ' + leader.firstPlacesAwarded}"></i>
                    <br>
                    <i id="silver" class="bx bxs-award"></i> <i class="silver"
                                                                th:text="${' Runner-up: ' + leader.secondPlacesAwarded}"></i>
                    <br>
                    <i id="bronze" class="bx bxs-award"></i> <i class="bronze"
                                                                th:text="${' Podium: ' + leader.thirdPlacesAwarded}"></i>
                </p>

                <img src="#" th:src="${leader.user.avatar}" class="testimonial-img" alt="">
                <h3 th:text="${leader.user.firstName + ' ' + leader.user.lastName}"></h3>
                <h4 th:text="${leader.user.getRank()}"></h4>
            </div>
        </div>

    </div>
</section><!-- End Leaders Section -->

<section class="negative">
    <header class="header-top">
        <div class="d-flex align-items-center">
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="hole" th:each="cnt: ${negative}"></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
</section>

<!-- ======= Winners Section ======= -->
<section id="events" class="events">
    <div id="photo-reel" class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Take a peek at some recent winners!</h2>
        </div>

        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="127">

            <div th:each="winner: ${topPhotos}">
                <div class="row event-item">
                    <div class="col-lg-4">
                        <img id="winner-thumbnail" src="#"
                             th:src="${'../images/photo-contest/' + winner.photo.associatedFileName}" alt="">
                    </div>

                    <div class="col-lg-5 content photo-summary">
                        <hr class="separator">
                        <h3 th:text="${winner.photo.title}">Photo title</h3>
                        <h5 class="title">by <span class="data"
                                                   th:text="${winner.photo.author.firstName + ' ' + winner.photo.author.lastName}">
                            Author</span></h5>
                        <hr class="separator">

                        <h5 class="title" th:if="${winner.rankingPlace == 1}">Place:
                            <span class="data" th:text="${winner.rankingPlace} + '-st'">Place</span></h5>

                        <h5 class="title" th:if="${winner.rankingPlace == 2}">Place:
                            <span class="data" th:text="${winner.rankingPlace} + '-nd'">Place</span></h5>

                        <h5 class="title" th:if="${winner.rankingPlace == 3}">Place:
                            <span class="data" th:text="${winner.rankingPlace} + '-rd'">Place</span></h5>

                        <h5 class="title"
                            th:unless="${winner.rankingPlace == 1 || winner.rankingPlace == 2 || winner.rankingPlace == 3 }">
                            Place:
                            <span class="data" th:text="${winner.rankingPlace} + '-th'">Place</span></h5>

                        <h5 class="title">Contest: <span class="data"
                                                         th:text="${winner.photo.contest.title}">Contest</span></h5>
                        <h5 class="title">Category: <span class="data"
                                                          th:text="${winner.photo.contest.category.name}"></span></h5>
                        <hr class="separator">
                        <p class="font-italic" th:text="${winner.photo.story}">Photo story</p>
                        <hr class="separator">
                    </div>

                    <div class="col-lg-3 price">

                        <p><span  th:text="${winner.photoScoreAvg}">Average score</span></p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End Winners Section -->

<section class="negative">
    <header class="header-top">
        <div class="d-flex align-items-center">
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="hole" th:each="cnt: ${negative}"></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
</section>

<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Winning Shot</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by Lubo Gergov & Hristo Minkov using <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Vendor JS Files -->
<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/php-email-form/validate.js}"></script>
<script src="#" th:src="@{~/assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/venobox/venobox.min.js}"></script>
<script src="#" th:src="@{~/assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script src="#" th:src="@{~/assets/js/main.js}"></script>

</body>

</html>