<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Winning Shot Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="#" th:href="@{~/assets/img/favicon.png}" rel="icon">
    <link href="#" th:href="@{~/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/icofont/icofont.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/animate.css/animate.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/owl.carousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/venobox/venobox.css}" rel="stylesheet">
    <link href="#" th:href="@{~/assets/vendor/aos/aos.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="#" th:href="@{~/assets/css/style.css}" rel="stylesheet">

</head>
<body>
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="padded-30px"></div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-navbar d-flex align-items-center">

        <img class="avatar" src="#" th:src="${user.avatar}" alt="">
        <h3 class="logo mr-auto"
            th:text="${user.isJunkie()
            ? user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'
            + ' | Points: ' + user.rankingPoints + ' | Next rank in '
            + user.getRank().getPointsTillNextRank(user.rankingPoints) + ' pts'
            : user.firstName + ' ' + user.lastName + ' (' + user.getRank().toString() + ')'}"></h3>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li th:if="${user.isOrganizer()}" >
                    <a id="highlight-menu" href="#" th:href="@{/contests/create}">Create contest</a></li>

                <li th:if="${user.isEligibleForJuror()}" >
                    <a id="highlight-menu-1" href="#" th:href="@{/dashboard/juror-contests}">Juror duties</a></li>

                <li th:if="${user.isOrganizer()}" >
                    <a href="#" th:href="@{/dashboard/contests}">Contests</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/photos}">Photos</a></li>

                <li th:if="${user.isOrganizer()}">
                    <a href="#" th:href="@{/dashboard/users}">Users</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/open}">Open contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-contests}">My contests</a></li>

                <li th:if="${user.isJunkie()}">
                    <a href="#" th:href="@{/dashboard/my-photos}">My photos</a></li>

                <li> <a>Profile</a></li>

                <li><a href="#" th:href="@{/logout}">Logout</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<!-- ======= Pricing Section ======= -->
<section id="profile-cover" class=" min-height-800">
    <div class="container">

        <div class="row no-gutters profile">
            <div th:fragment="prifle-avatar"  class="col-3">
                <div class="container">
                    <div class="row">
                        <h2 class="profile-highlight animate__animated animate__fadeInLeft">
                            <i th:text="${user.credentials.username}">[username]</i></h2>
                        <hr class="animate__animated animate__fadeInRight">
                    </div>
                    <div class="animate__animated animate__fadeInLeft">
                        <img class="avatar-big" src="#"
                             th:src="${user.avatar == null ? 'https://imgur.com/81VIUmh.png' : user.avatar + ' '}"
                             alt="Avatar big">
                    </div>
                    <div>
                        <p class="animate__animated animate__fadeInLeft align-content-center profile-change-avatar">
                            <i th:text="${user.userRole}">[role]</i></p>
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="container">
                    <div class="row">
                        <h2 class="animate__animated animate__fadeInLeft profile-title"><i>Personal info</i></h2>
                        <hr class="animate__animated animate__fadeInRight">
                    </div>
                    <div class="row profile-row ani animate__animated animate__fadeInRight d-inline">
                        <h5 class="margin-b-8"><strong><i>First name:</i></strong></h5>
                        <hr class="separator-contact-50">
                        <h5 class="margin-b-8" th:text="${user.firstName}">[First name]</h5>
                    </div>
                    <div class="row profile-row animate__animated animate__fadeInRight d-inline">
                        <h5 class="margin-b-8"><strong><i>Last name: </i></strong></h5>
                        <hr class="separator-contact-50">
                        <h5 class="margin-b-8" th:text="${user.lastName}">[Last name]</h5>
                    </div>
                </div>
                <div class="profile-change animate__animated animate__fadeInUp animate__delay-2s">
                    <a href="#" th:href="@{/users/{id}/edit (id=${user.userId})}"
                       id="register-btn" class="btn btn-danger edit-profile-btn">Edit profile
                    </a>
                </div>
            </div>

            <div class="col-5">
                <div class="container">
                    <div class="row">
                        <h2 class=" animate__animated animate__fadeInLeft  profile-title"><i>Stats info</i></h2>
                        <hr class="animate__animated animate__fadeInRight">
                    </div>

                    <div class="row profile-row animate__animated animate__fadeInRight d-inline">
                        <h5 class="margin-b-8"><strong><i>Rank: </i></strong></h5>
                        <hr class="separator-personal-40">
                        <h5 class="margin-b-8" th:text="${user.getRank()}">[rank]</h5>
                    </div>

                    <div class="row profile-row animate__animated animate__fadeInRight d-inline">
                        <h5 class="margin-b-8"><strong><i>Points won: </i></strong></h5>
                        <hr class="separator-contact-50">
                        <h5 th:text="${user.getRankingPoints()}" class="margin-b-8">[points]</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section><!-- End Pricing Section -->

<!-- ======= Footer ======= -->
<footer th:replace="index.html :: footer"></footer>
<!-- End Footer -->

</body>
</html>